html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
}

h1 {
  font-size: 20px;
}

@media (min-width: 375px) {
  h1 {
    font-size: 22px;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  h1 {
    font-size: 18px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  h1 {
    font-size: 26px;
    line-height: 30px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  h1 {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  h1 {
    font-size: 30px;
  }
}

h2 {
  font-size: 18px;
  line-height: 25px;
  margin-top: 70px;
}

@media (min-width: 768px) and (orientation: portrait) {
  h2 {
    font-size: 22px;
    line-height: 28px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  h2 {
    font-size: 20px;
    line-height: 27px;
  }
}

p {
  font-size: 12px;
  line-height: 18px;
}

@media (min-width: 768px) and (orientation: portrait) {
  p {
    font-size: 16px;
    line-height: 22px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  p {
    font-size: 13px;
    line-height: 20px;
  }
}

@media (min-width: 1440px) and (orientation: landscape) {
  p {
    font-size: 16px;
  }
}

span {
  color: #52affe;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

section {
  position: relative;
  width: 100%;
}

.buyNowBtn {
  background-color: transparent;
  border: 2px solid #52affe;
  border-radius: 25px;
  width: 80px;
  padding: 7px 20px;
  color: #fff;
}

@media (min-width: 1024px) and (orientation: portrait) {
  .buyNowBtn {
    width: 150px;
    font-size: 25px;
    padding: 12px 25px;
  }
}

.buyNowBtn:hover {
  background-color: #52affe;
}

.description__article-active {
  padding: 15px 25px;
  border: 2px solid #52affe;
  border-radius: 70px;
}

.box {
  position: relative;
  top: 70vh;
}

@media (min-width: 1024px) and (orientation: portrait) {
  span.usage__container--button-description {
    font-size: 18px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  span.usage__container--button-description {
    font-size: 14px;
  }
}

.nav {
  position: fixed;
  width: 100vw;
  height: 50px;
  background-color: black;
  z-index: 999;
}

@media (min-width: 1024px) and (orientation: portrait) {
  .nav {
    height: 80px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .nav {
    height: 80px;
  }
}

.nav__logo {
  position: absolute;
  margin-left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  width: 180px;
  background-image: url(../img/IronMediLogo.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 568px) and (orientation: landscape) {
  .nav__logo {
    margin-left: 20px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .nav__logo {
    margin-left: 40px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .nav__logo {
    height: 70px;
    width: 250px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .nav__logo {
    height: 60px;
    width: 220px;
  }
}

.nav__contact {
  position: absolute;
  display: none;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .nav__contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    right: 80px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .nav__contact--ico {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.nav .hamburger {
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (min-width: 568px) and (orientation: landscape) {
  .nav .hamburger {
    right: 20px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .nav .hamburger {
    right: 25px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .nav .hamburger {
    right: 30px;
  }
}

.hero {
  height: 70vh;
}

.hero__img {
  position: relative;
  top: 50px;
  left: 0;
  height: 270vh;
  width: 100%;
  background-color: #000;
  -webkit-clip-path: ellipse(100% 20% at 50% 0%);
          clip-path: ellipse(100% 20% at 50% 0%);
  z-index: 1;
  overflow: hidden;
}

@media (min-width: 568px) and (orientation: landscape) {
  .hero__img {
    height: 350vh;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .hero__img {
    height: 310vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .hero__img {
    height: 370vh;
  }
}

.hero__img--img {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 900px;
}

@media only screen and (min-height: 740px) and (max-height: 826px) and (orientation: portrait) {
  .hero__img--img {
    top: 10vh;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .hero__img--img {
    width: 80%;
    top: 5vh;
  }
}

@media only screen and (min-width: 568px) and (max-width: 1023px) and (orientation: landscape) {
  .hero__img--img {
    width: 40%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) and (orientation: landscape) {
  .hero__img--img {
    width: 55%;
    top: 5vh;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1365px) and (orientation: landscape) {
  .hero__img--img {
    width: 50%;
    top: 10vh;
  }
}

@media only screen and (min-width: 1366px) and (max-width: 1599px) and (orientation: landscape) {
  .hero__img--img {
    width: 50%;
    top: 8vh;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1920px) and (orientation: landscape) {
  .hero__img--img {
    width: 40%;
    top: 8vh;
  }
}

.header__description {
  position: absolute;
  bottom: -27vh;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  z-index: 1;
}

@media (min-height: 667px) and (orientation: portrait) {
  .header__description {
    bottom: -22vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .header__description {
    bottom: -20vh;
  }
}

@media (min-width: 800px) and (orientation: portrait) {
  .header__description {
    bottom: -15vh;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .header__description {
    bottom: -22vh;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .header__description {
    bottom: -10vh;
    left: 65%;
  }
}

@media (min-width: 640px) and (orientation: landscape) {
  .header__description {
    bottom: 0;
    left: 70%;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .header__description {
    bottom: 0;
    left: 70%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__description {
    bottom: 20vh;
    left: 75%;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .header__description {
    left: 70%;
  }
}

@media (min-width: 1470px) and (orientation: landscape) {
  .header__description {
    left: 75%;
  }
}

@media (min-width: 1670px) and (orientation: landscape) {
  .header__description {
    left: 80%;
  }
}

@media (min-width: 1750px) and (orientation: landscape) {
  .header__description {
    left: 80%;
  }
}

@media (min-width: 1920px) and (orientation: landscape) {
  .header__description {
    left: 80%;
  }
}

.header__description--action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 280px;
  text-align: center;
}

@media (min-width: 568px) and (orientation: landscape) {
  .header__description--action {
    width: 250px;
    text-align: right;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .header__description--action {
    width: 350px;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .header__description--action {
    width: 380px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__description--action {
    width: 330px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .header__description--action {
    width: 370px;
  }
}

.header__description--motto::after {
  content: '';
  display: block;
  margin: 15px auto -15px;
  width: 150px;
  height: 2px;
  background-color: #fff;
}

@media (min-width: 568px) and (orientation: landscape) {
  .header__description--motto::after {
    margin-left: 100px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__description--motto::after {
    margin-left: 200px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .header__description--motto::after {
    margin-left: 220px;
  }
}

.header__aside {
  position: absolute;
  z-index: 998;
  width: 0;
  height: 0;
  opacity: 0;
}

.header__aside--active {
  position: relative;
  position: fixed;
  display: block;
  top: 20vh;
  height: 80vh;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #0095FF), to(black));
  background: linear-gradient(180deg, #0095FF 33%, black 100%);
  opacity: 1;
  -webkit-transition: .2s;
  transition: .2s;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__aside--active {
    top: 0;
    right: 70px;
    height: 50px;
    background: #000;
    width: 550px;
    z-index: 1000;
  }
}

@media (min-width: 1024px) and (orientation: landscape) and (min-width: 1280px) and (orientation: landscape) {
  .header__aside--active {
    height: 80px;
    right: 80px;
  }
}

.header__aside--active::before {
  position: absolute;
  top: -80vh;
  content: '';
  display: block;
  width: 100%;
  height: 80vh;
  z-index: 999;
  background-color: #0095FF;
  -webkit-clip-path: ellipse(55% 10% at 50% 100%);
          clip-path: ellipse(55% 10% at 50% 100%);
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__aside--active::before {
    display: none;
  }
}

.header__aside--active::after {
  position: absolute;
  content: '';
  top: -100vh;
  display: block;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  z-index: 3;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__aside--active::after {
    display: none;
  }
}

.header__aside--menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 70vh;
  top: -10vh;
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid #52affe;
}

@media (min-height: 812px) and (orientation: portrait) {
  .header__aside--menu {
    top: -16vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .header__aside--menu {
    top: 0;
    height: 55vh;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .header__aside--menu {
    height: 50vh;
    width: 40%;
    top: 5vh;
    margin: 0 20%;
    border-bottom: none;
    border-right: 1px solid #52affe;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__aside--menu {
    border: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 50px;
    top: 0;
    margin: 0;
    width: 550px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .header__aside--menu {
    height: 80px;
    margin-right: 80px;
  }
}

.header__aside--link {
  text-align: center;
  font-size: 26px;
  line-height: 70px;
  border-bottom: 2px solid transpatent;
}

@media (min-width: 768px) and (orientation: portrait) {
  .header__aside--link {
    font-size: 35px;
    line-height: 120px;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .header__aside--link {
    line-height: 50px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__aside--link {
    font-size: 16px;
    line-height: 50px;
    height: 50px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .header__aside--link {
    font-size: 18px;
  }
}

.header__aside--link:hover {
  border-bottom: 2px solid #52affe;
  color: #52affe;
}

.header__aside p {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20vh;
  margin-bottom: 10px;
}

@media (min-height: 812px) and (orientation: portrait) {
  .header__aside p {
    bottom: 14vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .header__aside p {
    bottom: 18vh;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .header__aside p {
    bottom: 5vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__aside p {
    display: none;
  }
}

.header__socialMedia {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 2vh;
  width: 100%;
  height: 100px;
}

@media (min-width: 568px) and (orientation: landscape) {
  .header__socialMedia {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40%;
    bottom: 0;
    top: 0vh;
    right: 10%;
    height: 60vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__socialMedia {
    display: none;
  }
}

.header__socialMedia--links {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (min-width: 768px) and (orientation: portrait) {
  .header__socialMedia--links {
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .header__socialMedia--links {
    width: 40px;
    height: 40px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__socialMedia--links {
    display: none;
  }
}

.header__socialMedia--links-pc {
  display: none;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .header__socialMedia--links-pc {
    display: block;
    width: 25px;
    height: 25px;
    padding: 0 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .header__socialMedia--links-pc {
    width: 30px;
    height: 30px;
  }
}

.header__socialMedia--fb {
  background-image: url(../ico/Facebook.svg);
}

.header__socialMedia--in {
  background-image: url(../ico/Instagram.svg);
}

.header__socialMedia--de {
  background-image: url(../ico/DeLuxus.svg);
}

.header__socialMedia--sh {
  background-image: url(../ico/corb.svg);
}

.usage {
  min-height: 100vh;
}

.usage__grafic {
  display: none;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .usage__grafic {
    display: block;
    position: absolute;
    width: 20px;
    height: 35px;
    border-radius: 45%;
    border: 2px solid #fff;
    z-index: 998;
    top: 18vh;
    left: 50%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .usage__grafic::after {
    content: '';
    display: block;
    color: #ffffff;
    position: absolute;
    width: 0;
    height: 10px;
    border: 1px solid #fff;
    top: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 999;
  }
}

.usage__gradient {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #52affe), to(black));
  background: linear-gradient(180deg, #52affe 33%, black 100%);
  width: 100%;
  height: 60vh;
  top: -30vh;
}

@media (min-width: 568px) and (orientation: landscape) {
  .usage__gradient {
    top: 0;
    height: 80vh;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .usage__gradient {
    top: -5vh;
    height: 70vh;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .usage__gradient {
    height: 60vh;
  }
}

.usage__titel {
  position: absolute;
  margin-top: 20vh;
  padding-top: 20vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  line-height: 25px;
  width: 280px;
}

@media (min-width: 667px) and (orientation: landscape) {
  .usage__titel {
    width: 80%;
  }
}

@media (min-width: 812px) and (orientation: landscape) {
  .usage__titel {
    width: 70%;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .usage__titel {
    width: 50%;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .usage__titel {
    width: 70%;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .usage__titel {
    width: 50%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .usage__titel {
    width: 40%;
  }
}

.usage__container {
  position: relative;
  top: 65vh;
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-height: 736px) and (orientation: portrait) {
  .usage__container {
    top: 65vh;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .usage__container {
    width: 65%;
  }
}

@media (min-width: 1024px) and (orientation: portrait) {
  .usage__container {
    width: 60%;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .usage__container {
    top: 80vh;
  }
}

@media (min-width: 667px) and (orientation: landscape) {
  .usage__container {
    width: 60%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .usage__container {
    width: 80%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.usage__container--element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1024px) and (orientation: landscape) {
  .usage__container--element {
    width: 50%;
    margin-bottom: 50px;
  }
  .usage__container--element:last-child {
    margin: 0 auto;
    width: 60%;
  }
}

.usage__container--description {
  display: block;
}

.usage__container--description-active {
  display: none;
}

.usage__container--description-more {
  display: none;
}

.usage__container--description-moreActive {
  display: block;
}

.usage__container--button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 120px;
  cursor: pointer;
  margin-bottom: 50px;
}

.usage__container--button-description {
  margin-bottom: 25px;
  font-size: 14px;
}

.usage__container--button-btn {
  width: 20px;
  height: 1px;
  background-color: #52affe;
  -webkit-transition: .3s;
  transition: .3s;
}

.usage__container--button-btn::after {
  display: block;
  content: '';
  width: 20px;
  height: 1px;
  background-color: #52affe;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.usage__container--button-btn-active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.price {
  top: 75vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #52affe), to(black));
  background: linear-gradient(180deg, #52affe 25%, black 100%);
  text-align: center;
}

@media (min-width: 1280px) and (orientation: landscape) {
  .price {
    height: 75vh;
    top: 80vh;
  }
}

.price::before {
  position: absolute;
  content: '';
  display: block;
  top: -60vh;
  height: 60vh;
  width: 100%;
  -webkit-clip-path: ellipse(55% 10% at 50% 100%);
          clip-path: ellipse(55% 10% at 50% 100%);
  background-color: #52affe;
}

@media (min-width: 768px) and (orientation: portrait) {
  .price::before {
    height: 61vh;
    z-index: -2;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .price::before {
    top: -59.8vh;
  }
}

.price__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

@media (min-height: 812px) and (orientation: portrait) {
  .price__elements {
    margin-top: 80px;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .price__elements {
    margin-top: 5%;
  }
}

.price__elements--element {
  position: relative;
  width: 140px;
  height: 150px;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(33%, #207cca), to(black));
  background: linear-gradient(180deg, #207cca 33%, black 100%);
  margin-bottom: 30px;
}

@media (min-width: 375px) and (orientation: portrait) {
  .price__elements--element {
    width: 160px;
    height: 170px;
    margin-bottom: 40px;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .price__elements--element {
    width: 200px;
    height: 210px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .price__elements--element {
    width: 200px;
    height: 210px;
  }
}

@media (min-width: 1920px) and (orientation: landscape) {
  .price__elements--element {
    width: 250px;
    height: 260px;
  }
}

.price__elements--text {
  position: absolute;
}

.price__elements--package {
  padding-bottom: 5px;
  font-size: 14px;
  top: 22%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-bottom: 2px solid #fff;
}

@media (min-width: 768px) and (orientation: portrait) {
  .price__elements--package {
    font-size: 18px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .price__elements--package {
    font-size: 16px;
  }
}

.price__elements--price {
  font-size: 40px;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media (min-width: 768px) and (orientation: portrait) {
  .price__elements--price {
    font-size: 50px;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .price__elements--price {
    font-size: 45px;
  }
}

.about {
  top: 82vh;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

@media (min-width: 1024px) and (orientation: portrait) {
  .about {
    width: 60%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .about {
    width: 50%;
  }
}

@media (min-width: 1280px) and (orientation: landscape) {
  .about {
    width: 40%;
  }
}

.about__heading {
  padding-top: 80px;
}

.about__text {
  margin: 50px 0;
}

@media (min-height: 812px) and (orientation: portrait) {
  .about__text {
    margin: 75px 0;
  }
}

.about__chemi {
  width: 100%;
  padding-bottom: 50px;
}

@media (min-height: 812px) and (orientation: portrait) {
  .about__chemi {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (orientation: portrait) {
  .about__chemi {
    width: 70%;
  }
}

@media (min-width: 568px) and (orientation: landscape) {
  .about__chemi {
    width: 60%;
  }
}

@media (min-width: 1024px) and (orientation: landscape) {
  .about__chemi {
    width: 50%;
    margin-top: 5vh;
  }
}
/*# sourceMappingURL=style.css.map */